@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "AbhayaLibre-ExtraBold", "AbhayaLibre-SemiBold";
  .Mui-selected {
    color: #7d1566 !important;
    background-color: white !important;
    opacity: 1 !important;
  }
  .MuiTab-root {
    border-radius: 0.8rem;
  }
  .MuiAccordionSummary-root,
  .MuiPaper-rounded {
    border: none !important;
    box-shadow: none !important;
  }
  .MuiBox-root > div > .Mui-expanded {
    border: 1px solid #7d1566 !important;
    border-radius: 10px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* @font-face {
  font-family: "AbhayaLibre-SemiBold";
  src: url("../../fonts/fonts/AbhayaLibre-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AbhayaLibre-Bold";
  src: url("../../fonts/fonts/AbhayaLibre-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
} */
